@keyframes appear {
	0% {
		opacity: 0;
		top: 35px;
	}
	100% {
		opacity: 1;
		top:0;
	}
}
.wrapper {
	list-style: none;
    padding: 0 30px 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: appear .5s ease;
}

.subWrapper {
	flex-shrink: 1;
	width: 400px;
}

.image {
	flex-shrink: 0;
	margin-right: 30px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.imageNone {
	@extend .image;
	background: url('https://unsplash.it/200/200') no-repeat;
	background-size: cover;
}

.description {
    margin: 10px 0 20px;
	font-weight: 300;
}

.styledCheckbox {
  position: absolute; 
  opacity: 0; 

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  &:hover + label:before {
    background: #876b3d;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: #876b3d;
  }
  
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}