.wrapper {
  padding: 70px 80px 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  background-color:#FFFCF4;
  box-shadow: 0 20px 40px -5px rgba(#CEBB9B, .3);
  position: fixed;
  height: 100vh;
  max-height: calc(100vh - 10px);
}

.closeButton {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 40px;
	height: 40px;
	opacity: 0.5;
	background:#FFFCF4;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	border-radius: 50%;
}

.closeButton::hover {
	opacity: 1;
}
