.navItem {
	display: inline-block;
	list-style: none;
	margin-right: 60px;
	
	&Link {
		text-decoration: none;
		color: #876b3d;

		&Active {
			font-weight: 700;
			border-bottom: 1px solid #876b3d;
		}
	}	
}